In [12]:
from logging import Logger
import os
from datetime import datetime

In [23]:
LOG_FILE=f"{datetime.now().strftime('%m_%d_%Y_%H_%M_%S')}.log"

In [14]:
datetime.now()

datetime.datetime(2024, 7, 12, 21, 33, 56, 610127)

In [15]:
LOG_FILE

'07_12_2024_21_33_56.log'

In [16]:
os.getcwd()

'g:\\ajaykumaretw\\mlproject\\src\\mlproject'

In [17]:
log_path=os.path.join(os.getcwd(),"logs",LOG_FILE)

In [18]:
log_path

'g:\\ajaykumaretw\\mlproject\\src\\mlproject\\logs\\07_12_2024_21_33_56.log'

In [19]:
LOG_FILE_PATH=os.path.join(log_path,LOG_FILE)

In [20]:
LOG_FILE_PATH

'g:\\ajaykumaretw\\mlproject\\src\\mlproject\\logs\\07_12_2024_21_33_56.log\\07_12_2024_21_33_56.log'

In [21]:
format="[ %(asctime)s ] %(lineno)d %(name)s - %(levelname)s - %(message)s",

In [22]:
format

('[ %(asctime)s ] %(lineno)d %(name)s - %(levelname)s - %(message)s',)

In [60]:
import os
os.path.join('artifacts','train.csv')

'artifacts\\train.csv'

In [33]:
import pandas as pd
import sqlalchemy as sa

In [34]:
student = pd.read_csv("G:/ajaykumaretw/student.csv")

In [35]:
student.head()

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5

In [36]:
import pandas as pd
import pyodbc

server = 'DESKTOP-KT0GODP'
database = 'college'
username = 'sa'
password = '12345'

# Create the connection string
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# Connect to the database
conn = pyodbc.connect(conn_str)

# Specify your SQL query (replace 'TABLE_NAME' with your actual table name)
query = "SELECT * FROM test"

# Read data into a pandas DataFrame
df = pd.read_sql(query, conn)

# Now 'df' contains the data from your SQL Server table

C:\Users\hp\AppData\Local\Temp\ipykernel_20200\3017564266.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [57]:
df

   id     name  age  height      city
0   1    Alice   25    1.65  New York
1   2      Bob   30    1.80     India
2   3  Charlie   28    1.75    London
3   4        A   81    1.65     Paris
4   5        B   45    1.80  New York
5   6        C   56    1.75    London
6   7        D   88    1.65     Paris
7   8        E   99    1.80  New York
8   9        F   45    1.75    London
9  10        G   56    1.34     Paris

In [38]:
df

   id name
0   1    A
1   2    B
2   3    C
3   4    D
4   5    E
5   6    F
6   7    G
7   8    H
8   9    J

In [4]:
import pandas as pd
import pyodbc

# Sample DataFrame

df = pd.read_csv("D:/students.csv.csv")

# Function to map Pandas dtype to SQL Server dtype
def pandas_to_sqlserver_dtype(dtype):
    if dtype == 'int64':
        return 'INT'
    elif dtype == 'float64':
        return 'FLOAT'
    elif dtype == 'object':
        return 'NVARCHAR(MAX)'
    else:
        raise TypeError(f"Unsupported dtype: {dtype}")

# Connect to SQL Server
# Connect to SQL Server
server = 'DESKTOP-KT0GODP'
database = 'college'
username = 'sa'
password = '12345'

# Create the connection string
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Define table name
table_name = 'students'

# Prepare CREATE TABLE SQL statement
create_table_sql = f"CREATE TABLE {table_name} ("
for column_name, dtype in zip(df.columns, df.dtypes):
    sql_type = pandas_to_sqlserver_dtype(str(dtype))
    create_table_sql += f"{column_name} {sql_type}, "
create_table_sql = create_table_sql[:-2] + ");"

# Execute SQL statement to create table
cursor.execute(create_table_sql)

# Commit changes before inserting data
conn.commit()

# Insert data into SQL Server table
for index, row in df.iterrows():
    insert_sql = f"INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({', '.join(['?']*len(df.columns))})"
    cursor.execute(insert_sql, tuple(row))

# Commit changes and close connection
conn.commit()
conn.close()

print(f"Table '{table_name}' created and data inserted successfully in SQL Server.")

Table 'students' created and data inserted successfully in SQL Server.

In [9]:
import os
import pandas as pd
from dotenv import load_dotenv
import pyodbc
import sys
# Load environment variables from .env file
load_dotenv()

# Get the environment variables
host = os.getenv("host")
user = os.getenv("user")
password = os.getenv("password")
db = os.getenv('db')

# Print the variables for debugging purposes
print(f"Host: {host}")
print(f"User: {user}")
print(f"Password: {password}")
print(f"Database: {db}")

def read_sql_data():
    try:
        # Establish the connection
        conn = pyodbc.connect(
            f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={host};DATABASE={db};UID={user};PWD={password}'
        )
        
        # Read data from the database
        df = pd.read_sql_query('SELECT * FROM persons', conn)
        print(df.head())
        return df

    except pyodbc.Error as e:
        print(f"Error connecting to SQL Server: {e}")
        sys.exit(1)
    except Exception as e:
        print(f"An error occurred: {e}")
        sys.exit(1)

# Call the function to read data
read_sql_data()

Host: DESKTOP-KT0GODP
User: sa
Password: 12345
Database: college
Error connecting to SQL Server: ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')

AttributeError: 'tuple' object has no attribute 'tb_frame'

In [4]:
read_sql_data()

OperationalError: (2003, "Can't connect to MySQL server on 'DESKTOP-KT0GODP' ([WinError 10061] No connection could be made because the target machine actively refused it)")

In [16]:
import os
import pandas as pd
from dotenv import load_dotenv
import pyodbc
import sys

# Load environment variables from .env file
load_dotenv()

# Get the environment variables
host = os.getenv("host")
user = os.getenv("user")
password = os.getenv("password")
db = os.getenv('db')

# Print the variables for debugging purposes
print(f"Host: {host}")
print(f"User: {user}")
print(f"Password: {password}")
print(f"Database: {db}")

def read_sql_data():
    try:
        # Establish the connection
        conn = pyodbc.connect(
            f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={host};DATABASE={db};UID={user};PWD={password};TrustServerCertificate=yes'
        )
        
        # Read data from the database
        df = pd.read_sql_query('SELECT * FROM persons', conn)
        print(df.head())
        return df

    except pyodbc.InterfaceError as e:
        print(f"Interface Error: {e}")
        sys.exit(1)
    except pyodbc.Error as e:
        print(f"Error connecting to SQL Server: {e}")
        sys.exit(1)
    except Exception as e:
        print(f"An error occurred: {e}")
        sys.exit(1)

# Call the function to read data
read_sql_data()

Host: DESKTOP-KT0GODP
User: sa
Password: 12345
Database: college
   id     name  age  height      city
0   1    Alice   25    1.65  New York
1   2      Bob   30    1.80     India
2   3  Charlie   28    1.75    London
3   4        A   81    1.65     Paris
4   5        B   45    1.80  New York

C:\Users\hp\AppData\Local\Temp\ipykernel_20668\3952640278.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('SELECT * FROM persons', conn)

   id     name  age  height      city
0   1    Alice   25    1.65  New York
1   2      Bob   30    1.80     India
2   3  Charlie   28    1.75    London
3   4        A   81    1.65     Paris
4   5        B   45    1.80  New York
5   6        C   56    1.75    London
6   7        D   88    1.65     Paris
7   8        E   99    1.80  New York
8   9        F   45    1.75    London
9  10        G   56    1.34     Paris